@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1> Emilio Puga Ascencio </h1>
    <h2> Guardia de base de datos </h2>
    <img src="https://i.pinimg.com/736x/51/0d/a9/510da98abbe03f7ff9a7ce6eb0f362e7.jpg">
</div>
