@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">mi nombre es Rodrigo</h1>
    <h2>mi clase es guardian de bases datos</h2>
    <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/149.png"/>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
