@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Pablo Zapata</h1>
    <h2 class="display-4">Alquimista Digital</h2>
    <img src="https://preview.redd.it/g4ucx5bddfd41.png?auto=webp&s=b88fef9f0643af9029a4fb8d224034bfecb5357d" alt="">
    
</div>
