@page
@model vania
@{
    ViewData["Title"] = "Vania";
}

<div class="text-center">
    <h1 class="display-4">Hola Soy Vania </h1>
    <h2>Arquera :) </h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHBErOu_8wTeW_2Rm8zM9Zfj7DnNxzLL8QJw&s" />
</div>
